@page "/products"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using QLSP2.Models
@using QLSP2.Data
@implements IAsyncDisposable
@inject IDbContextFactory<QLSP2.Data.QLSP2Context> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
  <a href="products/create" class="btn btn-primary">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Product">
  <PropertyColumn Property="product => product.Name" />
  <PropertyColumn Property="product => product.Price" />
  <PropertyColumn Property="product => product.Quantity" />

  <TemplateColumn Context="product">
    <a class="btn btn-success" href="@($"products/edit?id={product.Id}")">Edit</a> |
    <a class="btn btn-warning" href="@($"products/details?id={product.Id}")">Details</a> |
    <a class="btn btn-danger" href="@($"products/delete?id={product.Id}")">Delete</a>
  </TemplateColumn>
</QuickGrid>

@code {
  private QLSP2Context context = default!;

  protected override void OnInitialized()
  {
    context = DbFactory.CreateDbContext();
  }

  public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
